<phpunit colors="true" bootstrap="bootstrap.php">
    <filter>
        <blacklist>
           <directory suffix=".php">../src/contrib/</directory>
           <directory suffix=".php">../src/external/</directory>
           <directory suffix=".php">./</directory>
           <file>../src/Google/Cache/Apc.php</file>
           <file>../src/Google/Cache/Memcache.php</file>
        </blacklist>
    </filter>
</phpunit>
